.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



.universal-button{
  background-color: #4E47FF;
  border-radius: 10px;
  color: white;
  border: none;
}
body{
  background-color: whitesmoke;
}
.bg-img{
  background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
  height:698px;
}
.nav-bar{
  max-width:1576px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar button:hover{
  cursor: pointer;
}

.nav-bar button{
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color:#4E47FF;
  padding: 12px 36px;
  border-radius: 10px;
  border:none;
}

nav h1{
  color: #4E47FF;
  font-weight:900;
  font-size: 34px;
}

.banner-text h1{
  font-size:65px;
  font-weight: bold;
}
.banner-text{
  display: block;
  max-width: 905px;
  max-height: 237px;
  margin: 0 auto;
  text-align: center;
  margin-top: 158px;
}
.banner-text button{
  padding: 12px 36px;
  background-color: #4E47FF;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
.banner-text button:hover{
  cursor: pointer;
}
.content{
  max-width: 1140px;
  max-height: 328px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-top: 97px;
  gap: 220px;
  margin-bottom: 136px;
}
.content img{
  height: 328px;
  width: 403px;
  border-radius: 30px;
}
.content h1{
  font-size: 42px;
  font-weight: bold;
}
.content button{
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}
.content button:hover{
  cursor: pointer;
}
.user-info{
  max-width:1140px;
  max-height:306px; 
  margin: 0 auto;
  text-align: center;
  background-color: #eef0ff;
  padding:50px 142px;
  border-radius: 10px;
}

.user-info-h1{
  font-size: 38px;
  font-weight: bold;
}
.user-data{
  display: flex;
  justify-content: space-around;
  margin-top:40px;
  
}
.user-data h1{
  color: #4E47FF;
  margin-bottom: 0px;
  font-size: 80px;
  font-weight: bold;
}
.user-data p{
  margin-top: 0px;
  text-align: center;
  color: #00000098;
}
.feedback{
  max-width: 1140px;
  max-height:342px;
  margin:184px auto 89px auto;
  
}
.feedback-content{
  display: flex;
  gap:20px;
  
}
.user-review{
  text-align: center;
  margin-bottom: 50px;
  font-size: 42px;
  font-weight: bold;
}


.star-img{
  max-width:336.67px ;
  max-height: 243px;
  text-align: center;
  background-color: #FAFBFF;
  padding:24px ;
  border-radius: 10px;

 
}
.image img{
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 6px; 

}

.focus-section{
  max-width:1140px;
  background-color:rgb(255, 255, 255);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.focus-section img{
  height:362.77px ;
  width:840px;
  border-radius: 30px;
}
.focus-section h1{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px;
}
.focus-section p{
  color: rgb(82, 81, 81);

}
.focus-section button{
  margin:20px 0px;
  padding: 16px 32px;
  border: none;
}
.focus-section button:hover{
  cursor: pointer;
}

.submit{
  max-width:1140px ;
  max-height:632px;
  display: flex;
  margin: 0 auto;
  margin-top:84.23px ;
  align-items: center;
  gap: 80px;
} 
.submit h1{
  font-size: 97px;
  font-weight: bold;
}

.email,.name{
  height: 27px;
  width: 497px;
  border-radius: 10px;
  border: 1px solid rgb(167, 156, 156);
  padding: 20px;
}

.message{
  height: 135px;
  width: 496px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(167, 156, 156);
  

}
.submit h4{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.form button{
  padding: 17px 201px;
  display: block;
  margin: 19px auto 0 auto;
  border: none;
}
.form button:hover{
  cursor: pointer;
}
footer{
  max-height:221px ;
  max-width: 531px;
  margin: 118px auto;
  margin-top: ;
 text-align: center;
}
footer h1{
  font-size: 100px;
  color: #4E47FF;
  font-weight: bolder;
  margin-bottom: 8px;
}
footer p{
  color: #00000098;
}
.navigation a{
 margin-right: 20px;
 text-decoration: none;
 color: #8987A1;
}
footer h2{
 text-align: center;
 font-size: larger;
  margin-top: 40px;
}